

#deer_image {
	width: 150px;
	height: 150px;
	/*display: inline-block;*/
}

* {
  box-sizing: border-box;
}

#bird_image {
	display: none;
}

.header__menu {
  display: none;
}

.nav_list {
	margin-top: 50px;
	list-style: none;
	display: block;
  text-align: center;
}

.navitem {
	margin-left: 10px;
  margin-right: 10px;
	display: inline;
  font-size: 1.5em;
}

.logo_title {
	 margin-top: 50px; 
  /* display: inline-block;*/
   color: blue;
   font-size: 3em;
}

section {
	  margin: 50px;
}

.photo {
 /* position: relative;*/
	margin: 2px;
  width:90%;
	height: 250px;
	}

@media screen and (max-width: 650px) {
/*	.photo {
		width: 45%;
}*/

/* The transform parts, for getting the menu on and off,
   I have used as provided in the activities, with a little modification*/
.logo_title {
    font-size: 2em;
}

.navclass {
   z-index: 10;
    width: 270px;
    position: absolute;
    /* This trasform moves the navlist off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Provide an animation for the drawer (this is optional) */
    transition: transform 0.3s ease;
}

  .navclass.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

  .navitem {
  	background-color: blue;
  	font-size: 1.5em;
  	color: red;
    display: list-item;
    border: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
}

  #menu {
  	/*margin-top:50px;*/
  	display: inline-block;
}
.header__menu {
	/*margin-top: 50px;*/
   /* display: inline-block;*/
   position: absolute;
   right: 0;
   padding: 1em;
}

 .header__menu svg {
    width: 32px;
    fill: #B0B0EE;
  }
}

@media screen and (max-width: 475px){
		#deer_image {
			display: none;
	}	

	#bird_image {
		width: 150px;
	  height: 150px;
	  display: block;
			}

  .logo_title {
   margin-top: 25px; 
   font-size: 2em;
   /*display: inline-block;*/
     }
}